<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ConcurrencyControlDemo_v3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ControllerServlet</servlet-name>
  	<servlet-class>com.ccd.controler.ControllerServlet</servlet-class> 
  	<!-- <load-on-startup>0</load-on-startup> -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerServlet</servlet-name>
  	<url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControllerServlet_V2</servlet-name>
  	<servlet-class>com.ccd.controler.ControllerServlet_V2</servlet-class> 
  	<load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerServlet_V2</servlet-name>
  	<url-pattern>/controllerV2</url-pattern>
  </servlet-mapping>
</web-app>